<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.management.rank.model.dao.RankMapper">
    <sql id="rankColumns">
        rank_code,
        rank_name
    </sql>
    <resultMap id="rankResultMap" type="RankDTO">
        <id property="rankCode" column="rank_code"/>
        <result property="rankName" column="rank_name"/>
    </resultMap>
    <select id="selectAllRank" resultMap="rankResultMap">
        SELECT
        <include refid="rankColumns"/>
        FROM
        tbl_rank;
    </select>

    <select id="selectRankRankCode" resultMap="rankResultMap" parameterType="_int">
        SELECT
        <include refid="rankColumns"/>
        FROM
        tbl_rank
        WHERE
        rank_code = #{rankCode}
    </select>

    <resultMap id="selectRankDoctor" type="RankDoctorDTO">
        <id property="rankCode" column="rank_code"/>
        <result property="rankName" column="rank_name"/>
        <collection property="doctorList" ofType="DoctorDTO">
            <id property="doctorCode" column="doctor_code"/>
            <result property="doctorName" column="doctor_name"/>
            <result property="doctorGender" column="doctor_gender"/>
            <result property="doctorPhone" column="doctor_phone"/>
            <result property="doctorEmail" column="doctor_email"/>
            <result property="rankCode" column="rank_code"/>
            <result property="departmentCode" column="department_code"/>
        </collection>
    </resultMap>
    <resultMap id="selectRankDoctor2" type="RankDoctorDTO">
        <id property="rankCode" column="rank_code"/>
        <result property="rankName" column="rank_name"/>
        <collection property="doctorList" resultMap="doctorList2"/>
    </resultMap>
    <resultMap id="doctorList2" type="DoctorDTO">
    <id property="doctorCode" column="doctor_code"/>
    <result property="doctorName" column="doctor_name"/>
    <result property="doctorGender" column="doctor_gender"/>
    <result property="doctorPhone" column="doctor_phone"/>
    <result property="doctorEmail" column="doctor_email"/>
    <result property="rankCode" column="rank_code"/>
    <result property="departmentCode" column="department_code"/>
    </resultMap>

    <select id="selectRankDoctor" resultMap="selectRankDoctor2">
        SELECT
        a.rank_code,
        a.rank_name,
        b.doctor_name,
        b.doctor_gender,
        b.doctor_phone,
        b.doctor_email,
        b.rank_code,
        b.department_code
            FROM
        tbl_rank a
        JOIN
            tbl_doctor b ON a.rank_code=b.rank_code
    </select>
</mapper>